@model beerscovery.Models.Score

@{
    ViewData["Title"] = "Deletar Avaliação";
}

<h3 class="delete-msg">Deseja mesmo deletar essa Avaliação</span></h3>

<form asp-action="Delete" class="delete-form">
    <button type="submit" class="btn btn-big btn-danger">Sim, Quero Deletar!</button>
    <a class="btn btn-default" asp-action="Index">Não, Desejo Voltar!</a>
    <input type="hidden" asp-for="Id" />
</form>
</div>
